@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin:0;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* TODO: set to 14px for mobile */
  font-weight: normal;
  letter-spacing: 0.5px; /* TODO: set to 0.25px for mobile */
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 96px;
  font-weight: lighter;
  letter-spacing: 0px;
}

h2 {
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 0px;  
}

h4 {
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
}

h6 {
  font-size: 20px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
}

.subtitle2 { 
  font-size: 14px; 
  letter-spacing: 0.1px;
  font-weight: 500;

}

button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.caption {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.4;
}

.overline {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

a {
  color: var(--tv-c-anchor);
  transition: 0.4s;
}

a:hover {
  color: var(--tv-c-mdc-blue);
}
