@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--tv-c-white);
        --color-background-soft: var(--tv-c-white-soft);
        --color-background-mute: var(--tv-c-white-mute);

        --color-border: var(--tv-c-divider-light-2);
        --color-border-hover: var(--tv-c-divider-light-1);

        --color-heading: var(--tv-c-text-light-1);
        --color-text: var(--tv-c-text-light-1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--tv-c-black);
        --color-background-soft: var(--tv-c-black-soft);
        --color-background-mute: var(--tv-c-black-mute);

        --color-border: var(--tv-c-divider-dark-2);
        --color-border-hover: var(--tv-c-divider-dark-1);

        --color-heading: var(--tv-c-text-dark-1);
        --color-text: var(--tv-c-text-dark-2);
    }
}