:root {
    --tv-c-white: #ffffff;
    --tv-c-white-soft: #f8f8f8;
    --tv-c-white-mute: #f2f2f2;
  
    --tv-c-black: #181818;
    --tv-c-black-soft: #222222;
    --tv-c-black-mute: #282828;
  
    --tv-c-indigo: #2c3e50;
    --tv-c-vite-yellow: #FFD32D;
    --tv-c-mdc-blue: #74a9f6;
    --tv-c-github-white: #e8eaea;
    --tv-c-linkedin-blue: #0e76a8;
    --tv-c-anchor-green: hsla(160, 100%, 37%, 1);
    --tv-c-anchor-hover: var(--tv-c-mdc-blue);
  
    --tv-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --tv-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --tv-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --tv-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
    --tv-c-text-light-1: var(--tv-c-indigo);
    --tv-c-text-light-2: rgba(60, 60, 60, 0.66);
    --tv-c-text-dark-1: var(--tv-c-white);
    --tv-c-text-dark-2: rgba(235, 235, 235, 0.64);
  }