 
/* semantic color variables for this project */
:root {
    --section-gap: 160px;
}

/* TODO: Organize css color variables ====================================================*/
/* Place new organized css color variable here as all other will be deprecated            */
:root {
    /* Old Names Here */
    --vt-c-green: hsla(160, 100%, 37%, 1);
    --vt-c-vite-yellow: #FFD32D;
    --vt-c-mdc-blue: #74a9f6;

    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    /* New Names Migrated From Old Names */
    --tv-c-vue-green: var(--vt-c-green);
    --tv-c-vite-yellow: var(--vt-c-vite-yellow);
    --tv-c-mdc-blue: var(--tv-c-mdc-blue);

    --tv-c-white: var(--vt-c-white);
    --tv-c-white-soft: var(--vt-c-white-soft);
    --tv-c-white-mute: var(--vt-c-white-mute);

    --tv-c-black: var(--vt-c-black);
    --tv-c-black-soft: var(--vt-c-black-soft);
    --tv-c-black-mute: var(--vt-c-black-mute);

    --tv-c-indigo: var(--vt-c-indigo);

    --tv-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --tv-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --tv-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --tv-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --tv-c-text-light-1: var(--vt-c-indigo);
    --tv-c-text-light-2: rgba(60, 60, 60, 0.66);
    --tv-c-text-dark-1: var(--vt-c-white);
    --tv-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

}
/*==================================================================================*/