:root {
    --tv-c-light-primary: #f5f5f5;
    --tv-c-light-primary-light: #ffffff;
    --tv-c-light-primary-dark: #c2c2c2;
    --tv-c-light-primary-text: #000000;
    --tv-c-light-secondary: #e0e0e0;
    --tv-c-light-secondary-light: #ffffff;
    --tv-c-light-secondary-dark: #aeaeae;
    --tv-c-light-secondary-text: #000000;
    --tv-s-light-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --tv-s-light-box-shadow-scrollbar: inset 0 3 6px grey;
    
    --tv-c-dark-primary: #212121;
    --tv-c-dark-primary-light: #484848;
    --tv-c-dark-primary-dark: #000000;
    --tv-c-dark-primary-text: #f5f5f5;
    --tv-c-dark-secondary: #546e7a;
    --tv-c-dark-secondary-light: #819c89;
    --tv-c-dark-secondary-dark: #294343;
    --tv-c-dark-secondary-text: #f5f5f5;
    --tv-s-dark-box-shadow: 0 3px 6px rgba(65,184,131,0.84), 0 3px 6px rgba(65,184,131,0.77);
    --tv-s-dark-box-shadow-scrollbar: inset 0 3 6px rgba(65,184,131,0.84);

    --primary-color: var(--tv-c-light-primary);
    --primary-color-light: var(--tv-c-light-primary-light);
    --primary-color-dark: var(--tv-c-light-primary-dark);
    --primary-color-text: var(--tv-c-light-primary-text);
    --primary-box-shadow: var(--tv-s-light-box-shadow);
    --primary-box-shadow-scrollbar: var(--tv-s-light-box-shadow-scrollbar);
    --secondary-color: var(--tv-c-light-secondary);
    --secondary-color-light: var(--tv-c-light-secondary-light);
    --secondary-color-dark: var(--tv-c-light-secondary-dark);
    --secondary-color-text: var(--tv-c-light-secondary-text);
    --secondary-box-shadow: var(--tv-s-light-box-shadow);
    --secondary-box-shadow-scrollbar: var(--tv-s-light-box-shadow-scrollbar);    
  }